<!-- <div class="layout layout--game"> -->
<aside class="layout__aside">
   <ul class="config">
      <li class="config__item config__item--avatar">
         <img class="config__avatar-img" src="" alt="avatar username">
         <span class="config__avatar-username">username</span>
      </li>
      <li class="config__item config__item--setting" title="Aun esta en desarrollo ☕">
         <i data-lucide="settings" class="config__setting-icon"></i>
         <!-- <img class="config__setting-img" src="image/avatar.svg" alt="avatar username"> -->
      </li>
   </ul>
</aside>

<main class="layout__main layout__main--game">
</main>

<!-- </div> -->   