.game {
   display: grid;
   grid-template-columns: 1fr;
   gap: 2.5rem;
   /* background-color: aqua; */
   height: 100%;
}

.board {
   grid-row-start: 1;
   /* height: 100%; */
   /* height: fit-content; */
   overflow: hidden;
   font-size: clamp(0.8rem, 1.5vw, 1rem);

   .board__status {
      vertical-align: middle;
      font-size: inherit;
   }

   .board__status-round {
      vertical-align: middle;
      margin-left: 1rem;
      font-size: inherit;
   }

   .board__time {
      float: right;
      vertical-align: middle;
      font-size: inherit;
   }
}

.player {
   /* height: 100%; */
   min-height: 15rem;
   font-size: clamp(0.8rem, 1.5vw, 1rem);
   /* background-color: black; */

   .board__status {
      font-size: inherit;
   }

   .player__wrapper {
      display: grid;
      /* grid-template-rows: 50% 50%; */
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
   }

   .player__list {
      overflow-y: auto;
      scrollbar-width: none;
      /* display: none; */
      /* height: 100%; */
   }

   .player__chat {
      /* overflow: hidden; */
      /* overflow-y: auto; */
      /* scrollbar-width: none; */
      /* display: none; */
      /* margin-top: auto; */
      /* height: 100%; */
      /* background-color: aqua; */
      /* display: none; */
   }

}

.player__wrapper,
.board__graph {
   background-color: var(--color-secondary-100-transparent);
   border-radius: var(--border-radius-box);
   padding: 1rem;
   margin-top: 1rem;
   height: calc(100% - 2.2rem);
   position: relative;
}


/** --[ STYLES WIN ]-- */
.win {
   position: absolute;
   width: 100%;
   height: 100%;
   display: none;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 2rem;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: var(--color-secondary-100-transparent);
   border-radius: var(--border-radius-box);
   color: var(--color-white-100);
   font-size: 1.5rem;
}

.win__score {
   background-color: var(--color-secondary-300);
   border-radius: var(--border-radius-box);
   padding: 1rem;
   font-size: 1.5rem;
}

.win--active {
   display: flex;
}

.win__figure {
   background-color: #1d1d1d;
   padding: 1rem;
   width: 7rem;
   height: 7rem;
   border-radius: 50%;
}


/** RESPONSIVE */
@media screen and (min-width: 850px) {
   .game {
      grid-template-columns: 24% 1fr;
   }

   .player {
      .player__wrapper {
         grid-template-rows: 50% 50%;
         grid-template-columns: 1fr;
      }
   }

   .board {
      grid-row-start: auto;
   }
}

@media screen and (min-width: 1380px) {
   .game {
      grid-template-columns: 27% 1fr;
   }
}